<header class="navbar">
  <button class="logo-btn" [routerLink]="['/']">
    <img src="assets/logo-gunadarma.png" alt="Logo" class="logo-img" />
    <b>Gunadarma Data Analysis Application</b>
  </button>
</header>

<main class="bivariate-wrapper">
  <div class="form-card">
    <h2>Uji ANOVA <i>(One-Way)</i></h2>

    <form (ngSubmit)="onSubmit()">
      <label>Nama kasus</label>
      <input type="text" name="namaKasus" [(ngModel)]="formData.namaKasus" required/>

      <label>Nama variabel dependen</label>
      <input type="text" name="namaKasus" [(ngModel)]="formData.namaVariabelDependen" required/>

      <label>Cara input nilai</label>
      <select name="anovaInputMethod" [(ngModel)]="anovaInputMethod" required>
        <option value="">Pilih metode</option>
        <option value="excel">Import Excel</option>
        <option value="manual">Manual</option>
      </select>

      <div *ngIf="anovaInputMethod === 'excel'" class="upload-box" (click)="fileInput.click()">
        <span class="upload-icon">📁</span>
        <p>Upload from computer</p>
        <input id="excelUpload" name="excelUpload" type="file" hidden (change)="onAnovaFileSelected($event)" #fileInput />
        <span *ngIf="selectedAnovaFile">{{ selectedAnovaFile.name }}</span>
      </div>

      <div *ngIf="anovaInputMethod === 'manual'" class="manual-inputs">
        <label>Masukkan data tiap kelompok</label>
        <div class="manual-group" *ngFor="let group of manualGroups; let i = index">
          <div>
            <label for="groupName{{i}}">Kelompok {{ i + 1 }}</label>
            <input id="groupName{{i}}" name="groupName{{i}}" type="text" placeholder="Nama kelompok" [(ngModel)]="group.nama" />
            <input *ngFor="let value of group.values; let j = index"
                   id="g{{i}}val{{j}}" name="g{{i}}val{{j}}"
                   type="number"
                   [(ngModel)]="group.values[j]" />
          </div>
        </div>
        <button type="button" (click)="addGroup()">+ Tambah Kelompok</button>
      </div>

      <label for="alpha">Nilai Alpha</label>
      <select id="alpha" name="alpha" [(ngModel)]="formData.alpha">
        <option disabled selected>Pilih nilai Alpha</option>
        <option [value]="0.01">0.01</option>
        <option [value]="0.05">0.05</option>
        <option [value]="0.10">0.10</option>
      </select>

      <button type="submit">Hitung</button>
    </form>
  </div>
</main>