:host {
  display: block;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Atkinson Hyperlegible Next", sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(243, 243, 243, 0.168);
  color: #e2dede;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .logo {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }

  .logo-img {
    height: 40px;
    margin-right: 0.3rem;
    margin-bottom: 0.5rem;
  }
}

.hero {
  height: 100vh;
  padding: 6rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f3e3e3a9;
  background: linear-gradient(-45deg, #e1c2f6, #b36ef3, #b96cba, #e7816a);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;

  h1 {
    font-size: 4.5rem;
    margin-bottom: 1rem;

    .typewriter {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
      max-width: 100%;
    }
  }

  p {
    max-width: 600px;
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }

  .button-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .download-btn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    color: #7c14c6;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #e2e2e2be;
    }
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: rgba(200, 194, 194, 0.75);
  }
}