<header class="navbar">
  <div class="logo">
    <img src="assets/logo-gunadarma.png" alt="Logo" class="logo-img" />
    <b>Gunadarma Data Analysis Application</b>
  </div>
</header>

<section class="hero">
  <h1><span class="typewriter">Let us help with your assignments!</span></h1>
  <p>
    This website assists you in solving data analysis using <i>Bivariate Pearson</i> and <i>One-Way Analysis of variance</i>.
  </p>
  <div class="button-group">
    <button class="download-btn" [routerLink]="['/bivariate']"><i>Bivariate Pearson</i></button>
    <button class="download-btn" [routerLink]="['/anova']"><i>One way Analysis of variance</i></button>
  </div>
</section>